p {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #313030, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #313030, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    margin: -5px;
}

.wrapper {
    display: grid;
}

img {
    /* height: 100%;
    width: 100%; */
    /* object-fit: cover; */
    /* display: block; */
}

.hakone {
    width: 35vw;
    height: 100vh;
    background-image: url(images/small-syuhei-inoue-kaoHI0iHJPM-unsplash.jpg);
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}


.instructions {
    font-family: 'Courier New', Courier, monospace;
    padding: 50px;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.title {
    grid-row-start: 2;
    grid-row-end: 3;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 50px;
}

.signup_form {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

label {
    font-size: 10px;
    width: 100px;
    display: inline-block;
    position: absolute;
}

input { 
    margin: 5px;
    display: inline-block;
    margin-right: 50px;
    margin-top: 15px;
    width: 275px;
    border-color: #E5E7EB;
    border-radius: 4px;
}

input:focus {
    background-color: lightgreen;
}

input:focus:invalid {
    background-color: lightcoral;
}

input:valid {
    border-color: green;
}



.buttons {
    padding-top: 50px;
    padding-left: -50px;
    padding-right: -50px;
    grid-column-start: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    /* background-color: red */
}

button {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  button {
    padding: 10px 30px;
  }
}
